{% extends "webcalendar/layout.html" %}
{% load static %}

{% block body %}
<style>
    h2 {
                font-size: 50px;
                color: black;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
</style>
<div style="background-color: lightgrey; display: inline-block; padding: 10px; border-radius: 10px;">
    <form action="/addEvent" method="post">
        {% csrf_token %}
        <input type="text" name="startHour" placeholder="HH" style="width: 2em;text-align: right; padding: 0px;" maxlength="2" required>
        :
        <input type="text" name="startMin" placeholder="MM" style="width: 2em; padding: 0px;" maxlength="2" required>
        ->
        <input type="text" name="endHour" placeholder="HH" style="width: 2em;text-align: right; padding: 0px;" maxlength="2" required>
        :
        <input type="text" name="endMin" placeholder="MM" style="width: 2em; padding: 0px;" maxlength="2" required>
        &nbsp;
        <input type="text" name="title" placeholder="title" style="width: 35em; padding: 0px;" required> 
        &nbsp;Calendar: 
        <select name="calendar">
            {% for calendar in calendars %}
                <option value="{{ calendar.id }}">{{ calendar.title }}[{{calendar.owner}}]</option>
            {% endfor %}
        </select>
        <br>
        <input type="textarea" name="details" placeholder="details" style="width: 50em; margin: 10px; height: 3em;">
        <br>
        <input type="hidden" name="day" value="{{ day }}">
        <input type="hidden" name="month" value="{{ month }}">
        <input type="hidden" name="year" value="{{ year }}">
        <input type="submit" style="background-color: rgb(0, 0, 0); color: white;" value="Add Event"> 
    </form>
</div>
<h2>Events for {{ month }}-{{day}}-{{ year }}</h2>
    {% for event in events %}
        <div style="background-color: {{ event.calendar.color }}; display: inline-block; padding: 10px; border-radius: 10px; margin-bottom: 10px;">
            <form action="/editEvent" method="post" style="display: block" id="edit{{ event.id}}">
                {% csrf_token %}
            <input type="hidden" name="day" value="{{ day }}">
            <input type="hidden" name="month" value="{{ month }}">
            <input type="hidden" name="year" value="{{ year }}">
            <input type="hidden" name="event" value="{{ event.id }}">
            <input type="text" name="startHour" value="{{ event.startHour }}" style="width: 2em;text-align: right; padding: 0px; background-color: {{ event.calendar.color }}; border: 1px solid gray; margin-bottom: 10px;" maxlength="2">
            : 
            <input type="text" name="startMin" value="{{ event.startMin }}" style="width: 2em; padding: 0px; background-color: {{ event.calendar.color }}; border: 1px solid gray; margin-bottom: 10px;" maxlength="2">
            ->
            <input type="text" name="endHour" value="{{ event.endHour }}" style="width: 2em;text-align: right; padding: 0px;background-color: {{ event.calendar.color }} ; border: 1px solid gray;" maxlength="2">
            :
            <input type="text" name="endMin" value="{{ event.endMin }}" style="width: 2em; padding: 0px; background-color: {{ event.calendar.color }}; border: 1px solid gray;" maxlength="2"> 
             &nbsp;   
            <input type="text" name="title" value="{{ event.title }}" style="width: 35em; background-color: {{ event.calendar.color }}; border: 1px solid gray; font-weight: bold; margin-bottom: 10px;">
            &nbsp;Calendar:
            <input type="text" name="calendar" value="{{ event.calendar.title }}" readonly="readonly" style="padding: 0px; background-color: {{ event.calendar.color }}; border: none;" maxlength="2"> 
            &nbsp; Created by:
            <input type="text" name="owner" value="{{ event.owner }}" readonly="readonly" style="padding: 0px; background-color: {{ event.calendar.color }}; border: none;" maxlength="2"> 
            <br>
            <input type="textarea" name="details" value="{{ event.details }}" style="background-color: {{ event.calendar.color }}; border: 1px solid gray; width: 50em; margin: 10px; height: 3em;">
            </form>
            <form action="/deleteEvent" method="post" style="display: block;">
                {% csrf_token %}
            <input type="hidden" name="day" value="{{ day }}">
            <input type="hidden" name="month" value="{{ month }}">
            <input type="hidden" name="year" value="{{ year }}">
            <input type="hidden" name="event" value="{{ event.id }}">
            {% if event.owner == user %}
            <input type="submit" style="background-color: rgb(0, 0, 0); color: white;" value="X">
            <input type="submit" style="background-color: rgb(0, 0, 0); color: white;" value="Edit" form="edit{{ event.id }}">
            {% endif %}

            </form>
        </div>
        <br>
    {% endfor %}
    <br>
    <button onclick="location.href='/'"> Back </button>


{% endblock %}